version: "3"
services:
  app:
    build: .
    stdin_open: true
    tty: true
    volumes:
      - ./:/app:cached
    ports:
      - 8081:8081
    networks:
      - container-networks
    environment:
      - USER_SERVER_NAME=user_app_1
      - GRPC_SERVER_PORT=50051
      - PORT=8081

networks:
  default:
    external:
      name: microservices
  container-networks:
    name: microservices